bin/
obj/
data/
postprocessing/__pycache__/
final_parameters
runs/
voro/
.DS_Store

# Other standard ignores
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.jpg
*.png
*.sif

# Ignore files
hosts

# profiling with nsys
*.qdrep
*.nsys-rep
